<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        img{
            height: 200px;
            width: 400px;
        }
    </style>
</head>
<body>

    <div id="app">
        <h1> Coucou je m'appelle {{name}}</h1>
        <input type="text" v-model="firstname">
        <input type="text" v-model="lastname">
        
     
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
            
                firstname: "",
                lastname: ""
            },
            computed: {
                firstnameUpper: function()
                {
                    return this.firstname.toUpperCase();
                },

                name: function(){
                    return  (this.firstname + ' '+ this.lastname).toUpperCase();
                }
            }
        })
    </script>
</body>
</html>